@use './app/shared/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: $font-size-md;
  color: $color-text-primary;
  background-color: $color-background;
  line-height: 1.5;
}

a {
  color: $color-primary;
  text-decoration: none;
}
